<form id="submit-form" action="/submit" method="post">
    <input type="text" placeholder="username" name="username" required>
    <input type="text" name="pass" placeholder="password" required>
    <input type="submit" value="Login">
</form>